<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="UserManagement"
			 connectionString="Data Source=127.0.0.1,1433;
                         Initial Catalog=UserManagement;
                         User Id=anhhao1712;
                         Password=123456;
                         TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
